﻿*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

div {
    border-style: solid;
    border-width: 0px;
}

.col-xs-3, 
.col-md-12,
.col-md-10,
.col-xs-12,
.col-xs-4, .col-xs-9, .col-xs-3 {
    padding:0px;
}


.container.body-content {
    margin-top: 250px;
}

input {
    text-align:right;
    width:100%;
    font-family:Arial;
    font-size: 20px; 
}

.col-xs-3 input,
.col-xs-4 input {
    height:45px;
    text-align:center;

}

.col-md-12 input{
    height:55px;
    font-size: 20px;
    border:double;
    margin-bottom:3px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-sm-4 .row .col-xs-3,
.col-xs-9 .row .col-xs-4 {
    padding: 2px;
}

.col-xs-12 input {
    height:94px;
}