﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
        <div class="col-sm-4">
            <p>Test one</p>
        </div>
        <div class="col-sm-4">
            <form role="form">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="0" id="user_input"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-3"><input type="button" value="AC" /></div>
                    <div class="col-xs-3"><input type="button" value="C" /></div>
                    <div class="col-xs-3"><input type="button" value="%" /></div>
                    <div class="col-xs-3"><input type="button" value="÷" /></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><input type="button" value="7" /></div>
                    <div class="col-xs-3"><input type="button" value="8" /></div>
                    <div class="col-xs-3"><input type="button" value="9" /></div>
                    <div class="col-xs-3"><input type="button" value="x" /></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><input type="button" value="4" /></div>
                    <div class="col-xs-3"><input type="button" value="5" /></div>
                    <div class="col-xs-3"><input type="button" value="6" /></div>
                    <div class="col-xs-3"><input type="button" value="-" /></div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                         <div class="row">
                            <div class="col-xs-4"><input type="button" value="1" /></div>
                            <div class="col-xs-4"><input type="button" value="2" /></div>
                            <div class="col-xs-4"><input type="button" value="3" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><input type="button" value="0" /></div>
                            <div class="col-xs-4"><input type="button" value="." /></div>
                            <div class="col-xs-4"><input type="button" value="=" /></div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12"><input type="button" value="+" /></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <p> test three</p>
        </div>
  </div>


<script type="text/javascript" language="javascript">

    var userInputArray = [];
    var operations = ['+', '-', '.', 'x', '÷', '%'];
    function setEventHandler() {
        
        var btns = document.getElementsByTagName('input');
        for (var i = 0; i <= btns.length; i++) {
            if (btns[i]) {

                var btnValue = btns[i].getAttribute('value');

                if (btnValue === 'AC' || btnValue == 'C') {
                    btns[i].addEventListener('click', deleteInput);
                }
                else if (btnValue === 'user_input' ) {
                   
                }
                else if (isOperationBtn(btnValue)) {

                    btns[i].addEventListener('click', operationButton)

                }
                else if (btnValue === '=') {
                    btns[i].addEventListener('click', performOperations);
                }
                else {
                    btns[i].addEventListener('click', function () {

                        var userInput = document.getElementById('user_input');

                        alert(isValidInputForArray(this.getAttribute('value')));
                        if (isValidInputForArray(this.getAttribute('value'))) {

                            alert(this.getAttribute('value'));
                            userInputArray.push(this.getAttribute('value'));
                        }
                        userInput.value = userInputArray.join('');
                    })
                }
            }
        }
    }



    function performOperations() {
        alert('perform operations');
    }




    function operationButton() {

        if (userInputArray.length > 0) {
            var addToUserArray = true;
            for (var i = 0; i < operations.length; i++) {
                if (operations[i] === userInputArray[userInputArray.length - 1]) {
                    addToUserArray = false;
                }
            }
            if (addToUserArray) {
                userInputArray.push(this.getAttribute('value'));
                document.getElementById('user_input').value = userInputArray.join('');
                alert('operation button');
            }
        }
    }


    // this function return if the button pressed is an operation button eg + - etc.
    function isOperationBtn(btnValue) {
        for (var i = 0; i < operations.length; i++) {
            if (operations[i] === btnValue) {
                return true;
            }
        }
        return false;
    }

    function deleteInput() {
        if (this.getAttribute('value') === "AC") {
            userInputArray.pop(); 
        }
        else {
            userInputArray = [];
        }

        document.getElementById('user_input').value = userInputArray.join('');
    }

    function isValidInputForArray(input) {

        //if (userInputArray[userInputArray.length - 1] === input) {
        //    for (var i = 0; i < operations.length; i++) {
        //        if (input === operations[i]) {
        //            return false; // 
        //        }
        //    //}
        //}
        if (input === '=') {
            return false;
        }

        return true;
    }
    setEventHandler();
</script>


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@